[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/dillonzq/LoveIt.git
[submodule "teixeira_blog/themes/hugo-clarity"]
	path = teixeira_blog/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "themes/hugo-clarity2"]
	path = themes/hugo-clarity2
	url = https://github.com/chipzoller/hugo-clarity
